@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: 255, 255, 255;
  --bg-primary: rgb(131, 56, 236);
  --bg-alert: rgb(230, 230, 230);
  --text-color: rgb(0, 0, 0);
  --fs: 1.05em;
  --fs-icon: 1.1em;
  --brd-radius: 1em;
  --v-rp-color: rgba(0, 0, 0, 0.2);
  --v-rp-transition: 200;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color:40, 40, 40;
    --bg-alert: rgb(65, 65, 65);
    --text-color: rgb(255, 255, 255);
    --v-rp-color: rgba(255, 255, 255, 0.2);
  }
}

* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  // user-select: none;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-size: var(--fs);
}

a {
  text-decoration: none;
}

ion-icon {
  font-size: var(--fs-icon);
  color: var(--text-color);
  pointer-events: none;
}


body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  & #app {
    max-width: 900px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: blue;
  }
}

svg {
  width: 27px;
  height: 27px;
  pointer-events: none;
}



// Transitions

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 200ms linear;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}